$brand-color: #00547c;
$light-color: #fff;
$dark-color: #000;
$shadow-color1: #00000050;
$shadow-color2: #00000025;

$main-text-color: #000;

$main-font-family: "Roboto", sans-serif;

$screen-xs: 576px;
$screen-sm: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-lg-max: 1199px;
